<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Bank Details
            </h1>
        </div>
    </div>

    <div class="profile-page">
      <div class="row">
        <div class="col-lg-12">
          <div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
          
          <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !beneficiaryName.valid }">
                    <label for="beneficiaryName">Beneficiary Name</label>
                    <input type="text" placeholder="Enter Beneficiary Name" class="form-control" name="beneficiaryName" [(ngModel)]="model.beneficiaryName" #beneficiaryName="ngModel" />
                    <div *ngIf="f.submitted && !beneficiaryName.valid" class="help-block">Beneficiary Name is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !beneficiaryAddress.valid }">
                    <label for="beneficiaryAddress">Beneficiary Address</label>
                    <input type="text" class="form-control" placeholder="Enter Beneficiary Address" name="beneficiaryAddress" [(ngModel)]="model.beneficiaryAddress" #beneficiaryAddress="ngModel" required />
                    <div *ngIf="f.submitted && !beneficiaryAddress.valid" class="help-block">Beneficiary Address is required</div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !bankName.valid }">
                    <label for="bankName">Bank Name</label>
                    <input type="text" class="form-control" placeholder="Enter Bank Name" name="bankName" [(ngModel)]="model.bankName" #bankName="ngModel" required />
                    <div *ngIf="f.submitted && !bankName.valid" class="help-block">Bank Name is required</div>
                </div>



                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !branchNumber.valid }">
                    <label for="branchNumber">Branch Number</label>
                    <input type="text" class="form-control" placeholder="Enter Branch Number" name="branchNumber" [(ngModel)]="model.branchNumber" #branchNumber="ngModel" required />
                    <div *ngIf="f.submitted && !branchNumber.valid" class="help-block">Branch Number is required</div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !accountNumber.valid }">
                    <label for="accountNumber">Account Number</label>
                    <input type="text" class="form-control" placeholder="Enter Account Number" name="accountNumber" [(ngModel)]="model.accountNumber" #accountNumber="ngModel" required />
                    <div *ngIf="f.submitted && !accountNumber.valid" class="help-block">Account Number is required</div>
                </div>


                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Update</button>
                    
                </div>
            </form>
        </div>  
      </div>
    </div>

</div>