<div class="reset-password-page">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
		<div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
			<h1>Reset your password</h1>
			<form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
				<input type="hidden" name="email" [(ngModel)]="model.email" #email="ngModel" required />
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword }">
		            <label for="newPassword">New Password</label>
		            <input type="text" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #email="ngModel" required placeholder="Enter your New Password" />
		            <div *ngIf="f.submitted && !newPassword" class="help-block">New Password is required</div>
		        </div>

		        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword }">
		            <label for="confirmPassword">Confirm Password</label>
		            <input type="text" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #email="ngModel" required placeholder="Enter your Password Again" />
		            <div *ngIf="f.submitted && !confirmPassword && (newPassword==confirmPassword)" class="help-block">Confirm Password is required</div>
		        </div>
		        <div class="form-group">
		            <button [disabled]="loading" class="btn btn-primary">Change Password</button>
		            
		        </div>
		       
		    </form>
		</div>	
	</div>
</div>

