<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
               Welcome!!
            </h1>
            <p>Hello, Now you can buy and manage your coupons here.</p>
        </div>
    </div>

    <div class="help-page">
      <div class="row">
        <div class="col-lg-12">
         	<a [routerLink]="['coupon']" class="btn btn-primary list-group-item">
	            <i class="fa fa-tag"></i> Find a Tour
	        </a>
        </div>  
      </div>
    </div>

</div>