<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Products
            </h1>
        </div>
    </div>

    <div class="card card-block" style="width: 450px; margin: auto;">
        <form (submit)="search(term.value)">
            <div class="search-group input-group">
                <input #term (keyup)="search(term.value)" [value]="terms" class="form-control" placeholder="Search" autofocus>
            <span class="input-group-btn">
                <button type="submit" class="btn btn btn-default btn-flat"><i class="fa fa-search"></i></button>
            </span>
            </div>
        </form>
    </div>

    <button class="pull-right btn btn-primary" (click) = "add()">Add</button>
    
    <!-- <div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
    <div *ngIf="succ"  class="alert alert-success">{{message}}</div> -->
    
    <div class="table-responsive">
             <table class="table table-hover table-striped">
                 <thead>
                     <tr>
                         <th>Product Name</th>
                         <th>Type</th>
                         <th>Price($)</th>
                         <th>Category</th>
                         <th>Description</th>
                         <th>Create On</th>
                         <th colspan="3" >Actions</th>
                  </tr>
                 </thead>
                 <tbody *ngFor="let product of products">
                    <tr>
                        
                        <td >{{ product.productName }}</td>
                        <td>{{ product.productType }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.productCategory }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.createDate | date}}</td>
                        <td >
                          <button (click) = "edit(product.id)" class="btn btn-default">Edit</button>
                          <button (click) = "delete(product.id)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody> 
                <tbody *ngIf="!products || !products.length" >
                    <tr>
                        
                        <td colspan="7">There is no products now!
                        </td>
                    </tr>
                </tbody> 
             </table>
         </div>

         <div style="text-align: center;">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === 1}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" style = "display: inline;">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.currentPage - 1)">&laquo;</a>
          </li>
          <li style = "display: inline;" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(page)">{{page}}</a>
          </li>
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.currentPage + 1)">&raquo;</a>
          </li>
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
    </div>
     </div>
