<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
               Welcome!!
            </h1>
            <p><!-- Hello, Now you can buy and manage your coupons here. --></p>
        </div>
    </div>

    <div class="help-page">
      <div class="row">
        <div class="col-lg-12">
         	<a [routerLink]="['collect-coupon']" class="btn btn-primary list-group-item">
	            <i class="fa fa-tag"></i> Collect Coupon
	        </a>
        </div>  
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12">
          <a [routerLink]="['products']" class="btn btn-primary list-group-item">
              <i class="fa fa-product-hunt"></i> Add/Edit Products
          </a>
        </div>  
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12">
          <a [routerLink]="['provider-info']" class="btn btn-primary list-group-item">
              <i class="fa fa-info"></i> &nbsp; Provider Info
          </a>
        </div>  
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12">
          <a [routerLink]="['payment-method']" class="btn btn-primary list-group-item">
              <i class="fa fa-paypal"></i> Payment Method
          </a>
        </div>  
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12">
          <a [routerLink]="['collected-coupons']" class="btn btn-primary list-group-item">
              <i class="fa fa-tag"></i> Collected Coupons
          </a>
        </div>  
      </div>
      <br/>
    </div>

</div>