<div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a [routerLink]="['/']" >Home</a></li>
        <li *ngIf="loggedIn" (click) = "logout()" role="presentation"><a href="javascript:void(0);" >Logout</a></li>
        <li *ngIf="!loggedIn" role="presentation"><a [routerLink]="['/login']" >Login</a></li>
        <li *ngIf="!loggedIn" role="presentation"><a [routerLink]="['/signup']" >Signup</a></li>
        <li *ngIf="loggedIn && !loggedInAsProvider" role="presentation"><a [routerLink]="['/dashboard']" >Account</a></li>
        <li *ngIf="loggedIn && loggedInAsProvider" role="presentation"><a [routerLink]="['/provider-dashboard']" >Account</a></li>
        <li role="presentation" ><a [routerLink]="['/help']" >Help</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">LOGO HERE</h3>
    <div class="mini-submenu" id="mini-submenu-toggle-button" (click)="sidebarToggler()" style="display: none;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div> 
</div>