<div class="login-page">
	<div class="row">
		<div class="col-lg-3 ">
			<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
			    <ul class="list-group">
			        
			        <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="active list-group-item">
			            Login as Customer
			        </a>
			        <a [routerLink]="['/provider-login']" class="list-group-item">
			            Login as Provider 
			        </a>
			    </ul>
			</nav>
		</div>
		<div class="col-lg-8">
			<h1>Customer</h1>
			<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
		        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
		            <label for="username">Email</label>
		            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
		            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
		        </div>
		        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
		            <label for="password">Password</label>
		            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
		            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
		        </div>
		        <div class="form-group">
		            <p><a [routerLink]="['/forgot-password']" >Forgot Password?</a></p>
		        </div>
		        <div class="form-group">
		            <button [disabled]="loading" class="btn btn-primary">Login</button>
		            
		        </div>
		    </form>
		        <div class="form-group">
		            <p>Do not have account? <a [routerLink]="['/signup']" >Signup Now</a></p>
		        </div>

		        <div class="form-group"><h2>OR</h2></div>

		        <div>
					<button class="btn btn-lg btn-social btn-facebook" style="font-size: 1.5em;" (click)="onFacebookLoginClick()">
					    <i class="fa fa-facebook fa-fw"></i>Sign in with Facebook
					</button>
					<div class="btn btn-lg btn-social btn-google" id="googleBtn"><i class="fa fa-google fa-fw"></i> Sign in with Google</div>
				</div>
				<br>
				<br>
		</div>	
	</div>
</div>

