<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                List of Collected Coupons
            </h1>
        </div>
    </div>

    <div class="table-responsive">
             <table class="table table-hover table-striped">
                 <thead>
                     <tr>
                         <th>Date & Time</th>
                         <th>Number of Coupons</th>
                         <th>Value</th>
                  </tr>
                 </thead>
                 <tbody *ngFor="let product of products">
                    <tr>
                        
                        <td >{{ product.productName }}</td>
                        <td>{{ product.productType }}</td>
                        <td>{{ product.price }}</td>
                        
                    </tr>
                </tbody> 
                <tbody *ngIf="!products || !products.length" >
                    <tr>
                        
                        <td colspan="7">There is no records now!
                        </td>
                    </tr>
                </tbody> 
             </table>
         </div>

        <div class="row">
            <div class="col-xl-12">
                <h5 class="pull-right">
                    SUM:  0 Nis
                </h5>
            </div>
        </div>

         <div style="text-align: center;">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === 1}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" style = "display: inline;">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.currentPage - 1)">&laquo;</a>
          </li>
          <li style = "display: inline;" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(page)">{{page}}</a>
          </li>
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.currentPage + 1)">&raquo;</a>
          </li>
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
    </div>
     </div>
